body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgba(255,93,239,1) 0%, rgba(4,200,222,1) 100%);
  }

button {
  cursor: pointer;
}